@using BlazorWebAssemblyApp_Core6_Sample.Client.Authentication;
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<header class="p-3 border-bottom" style="background:#d9d4c8">
    <div class="container-fluid" >
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center me-lg-5 mb-2 mb-lg-0 ">
                @* <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> *@
                <img src="/logos/ConnectFurniture_logo.png" height="36" alt="logo" />
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Sofa & Armchairs</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Living Room</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Dining Room</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Bedroom</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">SALE</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <AuthorizeView>
                <NotAuthorized>
                    <a href="./login" class="nav-link px-2 link-secondary">Login</a>
                </NotAuthorized>
                <Authorized>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" style="">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" @onclick="Logout">Sign out</a></li>
                        </ul>
                    </div>
                </Authorized>
            </AuthorizeView>


        </div>
    </div>
</header>

@code {
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthStateProvider)authStateProvider;
        //传入null，就是登出。
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/",true);
    }
}
