@page "/"

@using BlazorWebAssemblyApp_Core6_Sample.Client.Pages.IndexPage

<PageTitle>ConnectFurniture</PageTitle>

@* <h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@

<IndexCarousel />
<CategoryGrid />