
<section class="container my-5 ">
    <h1 class="fw-light text-center">SHOP BY CATEGORY</h1>
    <div class="row my-3">
        <div class="col-6">
            <img src="/imgs/CategoryImgs/category04.jpg" style='height: 100%; width: 100%; object-fit: contain' />
            <div>
                <h2 class="fw-lighter fs-5">Sofas / Recliners</h2>
            </div>
        </div>
        <div class="col-6">
            <img src="/imgs/CategoryImgs/category03.jpg" style='height: 100%; width: 100%; object-fit: contain' />
            <div>
                <h2 class="fw-lighter fs-5">Living Room Furniture</h2>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-6">
            <img src="/imgs/CategoryImgs/category02.jpg" style='height: 100%; width: 100%; object-fit: contain' />
            <div>
                <h2 class="fw-lighter fs-5">Dining Room Furniture</h2>
            </div>
        </div>
        <div class="col-6">
            <img src="/imgs/CategoryImgs/category01.jpg" style='height: 100%; width: 100%; object-fit: contain' />
            <div>
                <h2 class="fw-lighter fs-5">Bedroom Furniture</h2>
            </div>
        </div>
    </div>
</section>
